.Footer {
    padding: 0px 25px 65px 25px;
}

footer {
    background-color: #120f00;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffd900;
    gap: 30px;
    padding: 30px;
    font-size: 14px;
}

.footerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.copyright {
    color: #ffd90080;
    line-height: 1.3em;
}

.footerHead {
    color: #ffd90080;
    margin-bottom: 18px;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 630px;
    gap: 30px;
}

.footerLinks ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

@media(min-width: 1496px) {
    .Footer {
        margin: auto;
        width: 1496px;
    }
}

@media(max-width: 1200px) {
    .footerLinks {
        width: 550px;
    }
}

@media(max-width: 1000px) {
    footer {
        flex-direction: column-reverse;
        gap: 75px;
    }

    .footerLinks {
        grid-template-columns: 1fr;
        gap: 50px;
        width: 100%;
    }

    .footerHead {
        margin-bottom: 10px;
    }

    .copyright {
        margin-top: 25px;
    }
}