.Navbar {
    padding: 20px 25px;
}

nav {
    background-color: #ffd900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 13px;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li a {
    color: black;
    padding: 10px 12.5px;
    font-size: 14px;
}

nav ul li:nth-child(4) a {
    background-color: black;
    color: #ffd900;
}