@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-transform: uppercase;
  font-family: "Cousine", serif;
  color: #ffd900;
}

::-webkit-scrollbar {
  display: none;
}